{% extends 'base.html' %}
{% load static %}
{% block content %}



<div class="container-fluid mt-4" style="margin-bottom:100px">
    <div class="row">
        <div class="col-sm-5">
  <img src="{{p.images.url}}" height="400px" width="400px">
        </div>

        <div class="col-sm-5">
    <h5 class="card-title text-center">{{p.name}}</h5>
    <h4>{{p.price}}</h4>
    <p>{{p.desc}}</p>
    {% if p.stock <= 0 %}
    <h4>Out of Stock</h4>
    {% else %}
     <h4 style="padding-top:10px;"><a href="{% url 'cart:add_to_cart' p.id %}" class="btn btn-primary">Add to Cart</a></h4>
            {% endif %}
  </div>
</div>
        </div>

    </div>
</div>

{% endblock %}